<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="mb-3">
            <label>Username</label>
            <input
              class="form-control"
              name="username"
              formControlName="username"
              type="text"
            />
            <p
              class="text-danger"
              *ngIf="
                !signUpForm.get('userData.username')!.valid &&
                signUpForm.get('userData.username')!.touched
              "
            >
              Please enter valid username
            </p>
          </div>

          <div class="mb-3">
            <label>Email</label>
            <input
              class="form-control"
              formControlName="email"
              name="email"
              type="text"
            />
            <!-- <p
              class="text-danger"
              *ngIf="
                !signUpForm.get('userData.email')!.valid &&
                signUpForm.get('userData.email')!.touched
              "
            >
              Please enter valid email
            </p> -->
            <p *ngIf="!username.valid && username.touched"></p>
          </div>
        </div>
        <div class="mb-3">
          <label>Gender</label>
          <div class="radio" *ngFor="let gender of genders">
            <input
              name="gender"
              formControlName="gender"
              type="radio"
              [value]="gender"
            />
            {{ gender }}
          </div>
        </div>
        <hr />

        <div class="mb-3" formArrayName="hobbies">
          <p>Hobbies</p>
          <button type="button" (click)="onAddHobby()" class="btn btn-light">
            Add Hobby
          </button>

          <div
            class="mb-3"
            *ngFor="let hobby of hobbies.controls; let i = index"
          >
            <input
              type="text"
              class="form-control"
              id="hobby-{{ i }}"
              [formControlName]="i"
            />
            <p class="text-danger" *ngIf="!hobby.valid && hobby.touched">
              Please enter valid text
            </p>
          </div>
        </div>
        <h5 *ngIf="!signUpForm.valid && signUpForm.touched" class="text-danger">
          Please check your inputs
        </h5>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
